table {
  border-spacing: 0;
}

th {
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  max-width: 50px;
  text-align: center;
  border: none;
}

td {
  border: 1px solid #e6e6e6;
  width: 100px;
  height: 100px;
  padding: 0.3rem;
}

td:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

td:first-child {
  border-left: none;
}

td:first-child:hover {
  background-color: white;
  cursor: auto;
}
